*.p
*.o
src/daemonlib
src/brickd/dist
src/brickd/objfre_wxp_x86
src/brickd/brickd
src/brickd/brickd.exe
src/brickd/log_messages.h
src/brickd/log_messages.rc
src/oacr_tmp
src/tests/*_test
src/tests/*_test.exe
src/tests/conf_file_test*_output.conf
