*.p
*.o
*.iml
src/brickd/brickd
src/brickd/brickd.exe
src/brickd/brickd.pdb
src/brickd/objfre_wxp_x86
src/build_data/android/brickd/.gradle
src/build_data/android/brickd/.idea
src/build_data/android/brickd/local.properties
src/build_data/android/brickd/app/.externalNativeBuild
src/build_data/android/brickd/app/build
src/build_data/windows/logviewer/logviewer.exe
src/build_data/windows/logviewer/logviewer.pdb
src/build_data/windows/msvc/.vs
src/build_data/windows/msvc/Debug
src/build_data/windows/msvc/Release
src/build_data/windows/msvc/x64
src/build_data/windows/msvc_uwp/.vs
src/build_data/windows/msvc_uwp/AppPackages
src/build_data/windows/msvc_uwp/ARM
src/build_data/windows/msvc_uwp/Debug
src/build_data/windows/msvc_uwp/Release
src/build_data/windows/msvc_uwp/x64
src/codesign_identity
src/daemonlib
src/dist
src/oacr_tmp
src/tests/*_test
src/tests/*_test.exe
src/tests/conf_file_test*_output.conf
.project
.pydevproject
.vscode
