Source: tinkerforge-brickd
Section: electronics
Priority: optional
Maintainer: Matthias Bolte <matthias@tinkerforge.com>
Build-Depends: debhelper (>= 10), dh-systemd, build-essential, pkg-config, libusb-1.0-0-dev (>= 1.0.20)
Standards-Version: 4.1.3
Homepage: https://www.tinkerforge.com/

Package: brickd
Architecture: any
Depends: libc6, lsb-base, procps, libusb-1.0-0 (>= 1.0.20), systemd, ${shlibs:Depends}, ${misc:Depends}
Recommends: logrotate
Description: Tinkerforge Brick Daemon
 The Brick Daemon program is part of the Tinkerforge software infrastructure.
 It routes Tinkerforge Protocol (TFP) messages between Tinkerforge USB devices
 (Bricks) and TCP/IP sockets. This allows user programs to use TCP/IP sockets
 to communicate with Bricks and their Bricklets connected to USB without having
 to deal with USB themselves. The TCP/IP communication itself is encapsulated
 in API bindings available for various programming languages.
