Package: brickd
Version: <<VERSION>>
Section: electronics
Maintainer: Olaf Lüke <olaf@tinkerforge.com>
Architecture: <<ARCHITECTURE>>
Priority: optional
Installed-Size: <<INSTALLED_SIZE>>
Depends: libc6, lsb-base, procps, libusb-1.0-0, libudev1 | libudev0, systemd | pm-utils
Recommends: logrotate
Description: Tinkerforge Brick Daemon
 The Brick Daemon program is part of the Tinkerforge software infrastructure.
 It routes Tinkerforge Protocol (TFP) messages between Tinkerforge USB devices
 (Bricks) and TCP/IP sockets. This allows user programs to use TCP/IP sockets
 to communicate with Bricks and their Bricklets connected to USB without having
 to deal with USB themselves. The TCP/IP communication itself is encapsulated
 in API bindings available for various programming languages.
