[Unit]
Description=Brick Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/brickd --daemon
PIDFile=/run/brickd.pid

[Install]
WantedBy=multi-user.target
