[Unit]
Description=Brick Daemon (Resume)
After=suspend.target
Requisite=brickd.service

[Service]
User=root
Type=oneshot
ExecStart=/usr/bin/pkill -F /run/brickd.pid -L -USR1
TimeoutSec=0
StandardOutput=syslog

[Install]
WantedBy=suspend.target
