Package: brickd
Version: <<BRICKD_VERSION>>
Section: electronics
Maintainer: Olaf Lüke <olaf@tinkerforge.com>
Architecture: <<BRICKD_ARCHITECTURE>>
Installed-Size: 142
Depends: libusb-1.0-0, libudev0
Description: Brick Daemon
 Brick Daemon is a small bridge between the USB port of Bricks and 
 the TCP/IP socket connection to the language binding APIs.
