Package: brickd
Version: 1.0.10
Section: electronics
Maintainer: Olaf Lüke <olaf@tinkerforge.com>
Architecture: all
Installed-Size: 334
Depends: python, python-twisted, python-gudev, libusb-1.0-0
Description: Brick Daemon
 Brick Daemon is a small bridge between the USB port of Bricks and 
 the TCP/IP socket connection to the language binding APIs.
