<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" IgnorableNamespaces="uap mp iot">
  <Identity Name="brickd" Publisher="CN=olaf" Version="2.2.2.0" />
  <mp:PhoneIdentity PhoneProductId="8cac8924-c70c-41ad-a8c4-959745e72bef" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Brick Daemon</DisplayName>
    <PublisherDisplayName>Tinkerforge GmbH</PublisherDisplayName>
    <Logo>assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App">
      <uap:VisualElements DisplayName="Brick Daemon" Square150x150Logo="assets\Square150x150Logo.png" Square44x44Logo="assets\Square44x44Logo.png" Description="Tinkerforge Brick Daemon for the Universal Windows Platform" BackgroundColor="transparent" AppListEntry="none">
        <uap:DefaultTile Wide310x150Logo="assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="brickd_uwp.StartupTask">
          <BackgroundTasks>
            <iot:Task Type="startup" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="usb">
      <Device Id="vidpid:16d0 063d">
        <Function Type="name:vendorSpecific" />
      </Device>
      <Device Id="vidpid:16d0 09e5">
        <Function Type="name:vendorSpecific" />
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>